In [34]:
import pandas as pd
import bs4
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [35]:
url="https://www.dineout.co.in/delhi-restaurants/buffet-special"

In [36]:
page=requests.get(url)
page.status_code

200

In [ ]:
soup=BeautifulSoup(page.content, "html.parser")
print(soup.prettify())

In [ ]:
scraped_names=soup.find_all("div",class_="restnt-info cursor")
scraped_names

In [ ]:
names=[]
for i in scraped_names:
    names.append(i.get_text().replace("\n"," ").strip(" "))
print(names)

In [ ]:
scraped_location=soup.find_all("div",class_="restnt-loc ellipsis")
scraped_location

In [ ]:
location=[]
for i in scraped_location:
    location.append(i.get_text().replace("\n"," ").strip(" "))
print(location)

In [ ]:
scraped_cuisine=soup.find_all("span",class_="double-line-ellipsis")
scraped_cuisine

In [ ]:
cuisine=[]
for i in scraped_cuisine:
    cuisine.append(i.get_text().replace("\n"," ").strip(" "))
print(cuisine)

In [ ]:
scraped_image=soup.find_all(class_="no-img")
scraped_image

In [55]:
image=[]
for i in scraped_image:
    image.append(i.attrs['data-src'])

In [31]:
scraped_ratings=soup.find_all("div",class_="restnt-rating rating-4")
rating=[]
for i in scraped_ratings:
    rating.append(i.get_text().replace("\n"," ").strip(" "))
print(rating)

['4.1', '3.9', '4.3', '3.9', '4', '3.9', '3.6', '3.8', '4.3']

In [56]:
df=pd.DataFrame()
df["Name"]=names
df["Location"]=location
df["Cuisine"]=cuisine
df["Image"]=image
df["Rating"]=rating

In [57]:
df.head()

,Name,Location,Cuisine,Image,Rating
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...,4.1
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,680 for 2 (approx) | North Indian, Asian, ...",https://im1.dineout.co.in/images/uploads/resta...,3.9
2,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx) | Italian, Continental",https://im1.dineout.co.in/images/uploads/resta...,4.3
3,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...,3.9
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...,4