In [ ]:
import pandas as pd
import requests
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

In [ ]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [ ]:
page=requests.get(url)
print(page.content)

In [ ]:
soup=BeautifulSoup(page.content, "html.parser")
print(soup.prettify())

In [ ]:
scraped_teams=soup.find_all("span",class_="u-hide-phablet")
scraped_teams

In [ ]:
teams=[]
for i in scraped_teams:
    teams.append(i.get_text().replace("\n"," ").strip())
teams

In [ ]:
scraped_rating=soup.find_all("td",class_="rankings-block__banner--rating u-text-right")
scraped_rating

In [ ]:
scraped_rating2=soup.find_all("td",class_="table-body__cell u-text-right rating")
scraped_rating2

In [ ]:
final_scraped_rating=scraped_rating+scraped_rating2

In [ ]:
rating=[]
for i in final_scraped_rating:
    rating.append(i.get_text().replace("\n"," ").strip())
rating

In [ ]:
scraped_matches=list(soup.find("td",class_="rankings-block__banner--matches"))
scraped_matches2=list(soup.find_all("td",class_="table-body__cell u-center-text"))
scraped_matches2=scraped_matches2[0:38:2]
final_scraped_matches=scraped_matches+scraped_matches2
print(final_scraped_matches)

In [ ]:
matches=[]
for i in final_scraped_matches:
    matches.append(i.get_text().replace("\n"," ").strip(" "))
print(matches)

In [41]:
scraped_points=list(soup.find("td",class_="rankings-block__banner--points"))
scraped_points2=list(soup.find_all("td",class_="table-body__cell u-center-text"))
scraped_points2=scraped_points2[1:38:2]
final_scraped_points=scraped_points+scraped_points2

In [42]:
points=[]
for i in final_scraped_points:
    points.append(i.get_text().replace("\n"," ").strip(" "))
print(points)

['5,010', '3,572', '3,229', '3,656', '2,649', '2,775', '3,129', '2,976', '1,419', '2,902', '1,300', '1,459', '1,201', '971', '673', '919', '693', '821', '456', '128']

In [43]:
print(len(teams),len(rating),len(matches),len(points))

20 20 20 20

In [44]:
df=pd.DataFrame()
df['TEAMS']=teams
df['RATING']=rating
df['MATCHES']=matches
df['POINTS']=points
df.head(10)

          TEAMS RATING MATCHES POINTS
0         India    114      44  5,010
1     Australia    112      32  3,572
2   New Zealand    111      29  3,229
3       England    111      33  3,656
4      Pakistan    106      25  2,649
5  South Africa    103      27  2,775
6    Bangladesh     95      33  3,129
7     Sri Lanka     88      34  2,976
8   Afghanistan     71      20  1,419
9   West Indies     71      41  2,902