In [ ]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [ ]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [ ]:
page=requests.get(url)
page.content

In [ ]:
page.status_code

In [ ]:
soup=BeautifulSoup(page.content, "html.parser")
print(soup.prettify())

In [ ]:
scraped_batsman=list(soup.find_all("td",class_="table-body__cell name"))
scraped_batsman

In [38]:
scraped_batsman2=list(soup.find("div",class_="rankings-block__banner--name"))
scraped_batsman2

['Babar Azam']

In [ ]:
final_scraped_batsman=scraped_batsman2+scraped_batsman
final_scraped_batsman

In [42]:
batsman=[]
for i in final_scraped_batsman:
    batsman.append(i.get_text().replace("\n"," ").strip())
print(batsman)

['Babar Azam', 'Rassie van der Dussen', 'David Warner', 'Quinton de Kock', 'Imam-ul-Haq', 'Shubman Gill', 'Virat Kohli', 'Steve Smith', 'Rohit Sharma', 'Kane Williamson', 'Josh Hazlewood', 'Trent Boult', 'Mitchell Starc', 'Rashid Khan', 'Adam Zampa', 'Shakib Al Hasan', 'Shaheen Afridi', 'Mustafizur Rahman', 'Mujeeb Ur Rahman', 'Mohammad Nabi', 'Mehedi Hasan', 'Rashid Khan', 'Mitchell Santner', 'Sikandar Raza', 'Wanindu Hasaranga', 'Zeeshan Maqsood', 'Assad Vala', 'Dhananjaya de Silva', 'Rassie van der Dussen', 'David Warner', 'Quinton de Kock', 'Imam-ul-Haq', 'Shubman Gill', 'Virat Kohli', 'Steve Smith', 'Rohit Sharma', 'Kane Williamson', 'Josh Hazlewood', 'Trent Boult', 'Mitchell Starc', 'Rashid Khan', 'Adam Zampa', 'Shakib Al Hasan', 'Shaheen Afridi', 'Mustafizur Rahman', 'Mujeeb Ur Rahman', 'Mohammad Nabi', 'Mehedi Hasan', 'Rashid Khan', 'Mitchell Santner', 'Sikandar Raza', 'Wanindu Hasaranga', 'Zeeshan Maqsood', 'Assad Vala', 'Dhananjaya de Silva']

In [ ]:
scraped_rating1=list(soup.find("div",class_="rankings-block__banner--rating"))
scraped_rating2=list(soup.find_all('td',class_="table-body__cell u-text-right rating"))
final_scraped_rating=scraped_rating1+scraped_rating2
final_scraped_rating

In [45]:
rating=[]
for i in final_scraped_rating:
    rating.append(i.get_text().replace("\n"," ").strip())
print(rating)

['887', '787', '747', '743', '740', '734', '727', '719', '719', '700', '727', '708', '665', '659', '655', '652', '641', '638', '637', '310', '284', '280', '269', '253', '240', '238', '233', '221', '787', '747', '743', '740', '734', '727', '719', '719', '700', '727', '708', '665', '659', '655', '652', '641', '638', '637', '310', '284', '280', '269', '253', '240', '238', '233', '221']

In [57]:
scraped_teams1=list(soup.find_all("span",class_="rankings-block__banner--nationality"))
scraped_teams1

[]

In [48]:
teams=[]
for i in final_scraped_teams:
    teams.append(i.get_text().replace("\n"," ").strip())
print(teams)

['SA', 'AUS', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'NZ', 'AUS', 'NZ', 'AUS', 'AFG', 'AUS', 'BAN', 'PAK', 'BAN', 'AFG', 'AFG', 'BAN', 'AFG', 'NZ', 'ZIM', 'SL', 'OMA', 'PNG', 'SL', 'SA', 'AUS', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'NZ', 'AUS', 'NZ', 'AUS', 'AFG', 'AUS', 'BAN', 'PAK', 'BAN', 'AFG', 'AFG', 'BAN', 'AFG', 'NZ', 'ZIM', 'SL', 'OMA', 'PNG', 'SL']

In [58]:
df=pd.DataFrame()
df['Batsman']=batsman
df["Rating"]=rating
df.head(10)

                 Batsman Rating
0             Babar Azam    887
1  Rassie van der Dussen    787
2           David Warner    747
3        Quinton de Kock    743
4            Imam-ul-Haq    740
5           Shubman Gill    734
6            Virat Kohli    727
7            Steve Smith    719
8           Rohit Sharma    719
9        Kane Williamson    700

In [ ]:
final_list=df.head(10)