In [1]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [2]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [3]:
page=requests.get(url)
page.status_code

200

In [ ]:
soup=BeautifulSoup(page.content, "html.parser")
print(soup.prettify())

In [7]:
scraped_names=list(soup.find("div",class_="rankings-block__banner--name-large"))
scraped_names2=list(soup.find_all("td",class_="table-body__cell rankings-table__name name"))
final_scraped_names=scraped_names+scraped_names2

In [8]:
names=[]
for i in final_scraped_names:
    names.append(i.get_text().replace("\n"," ").strip(" "))
print(names)

['Mohammed Siraj', 'Josh Hazlewood', 'Trent Boult', 'Mitchell Starc', 'Rashid Khan', 'Adam Zampa', 'Shakib Al Hasan', 'Shaheen Afridi', 'Mustafizur Rahman', 'Mujeeb Ur Rahman', 'Mohammad Nabi', 'Mehedi Hasan', 'Matt Henry', 'Kagiso Rabada', 'Pat Cummins', 'Andy McBrine', 'Alzarri Joseph', 'Chris Woakes', 'Lungi Ngidi', 'Mark Watt', 'Kuldeep Yadav', 'Jofra Archer', 'Akeal Hosein', 'Wanindu Hasaranga', 'Jasprit Bumrah', 'Mitchell Santner', 'Mohammad Nawaz', 'Keshav Maharaj', 'Saurabh Netravalkar', 'Bernard Scholtz', 'Mohammad Shami', 'Joshua Little', 'Bilal Khan', 'David Willey', 'Shardul Thakur', 'Tim Southee', 'Shadab Khan', 'Yuzvendra Chahal', 'Ahmed Raza', 'Akila Dananjaya', 'Mark Wood', 'Lachlan Ferguson', 'Adil Rashid', 'Dushmantha Chameera', 'Sandeep Lamichhane', 'Tabraiz Shamsi', 'Rohan Mustafa', 'Simi Singh', 'Zeeshan Maqsood', 'Taskin Ahmed', 'Anrich Nortje', 'Dhananjaya de Silva', 'Safyaan Sharif', 'Nosthush Kenjige', 'Chad Soper', 'Jason Holder', 'Kaleemullah', 'Mark Adair', 'Bhuvneshwar Kumar', 'Blessing Muzarabani', 'Taijul Islam', 'Sheldon Cottrell', 'Haris Rauf', 'Craig Young', 'Ish Sodhi', 'Imad Wasim', 'Hasan Ali', 'Maheesh Theekshana', 'Hamza Tahir', 'Jhye Richardson', 'Zahoor Khan', 'Fred Klaassen', 'Reece Topley', 'Richard Ngarava', 'Assad Vala', 'Andile Phehlukwayo', 'Ravindra Jadeja', 'Hardik Pandya', 'Sikandar Raza', 'J.J. Smit', 'Tendai Chatara', 'Steven Taylor', 'Wayne Parnell', 'Ashton Agar', 'Mohammad Mohammad Saifuddin', 'Moeen Ali', 'Ruben Trumpelmann', 'Christopher Sole', 'Michael Leask', 'M. Prasidh Krishna', 'Nuwan Pradeep', 'Wahab Riaz', 'Sam Curran', 'Fazalhaq Farooqi', 'Faheem Ashraf', 'Khawar Ali', 'Sean Abbott', 'Mitchell Marsh', 'Jan Frylinck', 'Logan van Beek']

In [9]:
scraped_teams=list(soup.find("div",class_="rankings-block__banner--nationality"))
scraped_teams2=list(soup.find_all("span",class_="table-body__logo-text"))
final_scraped_teams=scraped_teams+scraped_teams2

In [26]:
teams=[]
for i in final_scraped_teams:
    teams.append(i.get_text().replace("\n"," ").strip(" "))
print(teams)

['', '', '', '', 'IND', '', 'AUS', 'NZ', 'AUS', 'AFG', 'AUS', 'BAN', 'PAK', 'BAN', 'AFG', 'AFG', 'BAN', 'NZ', 'SA', 'AUS', 'IRE', 'WI', 'ENG', 'SA', 'SCO', 'IND', 'ENG', 'WI', 'SL', 'IND', 'NZ', 'PAK', 'SA', 'USA', 'NAM', 'IND', 'IRE', 'OMA', 'ENG', 'IND', 'NZ', 'PAK', 'IND', 'UAE', 'SL', 'ENG', 'NZ', 'ENG', 'SL', 'NEP', 'SA', 'UAE', 'IRE', 'OMA', 'BAN', 'SA', 'SL', 'SCO', 'USA', 'PNG', 'WI', 'OMA', 'IRE', 'IND', 'ZIM', 'BAN', 'WI', 'PAK', 'IRE', 'NZ', 'PAK', 'PAK', 'SL', 'SCO', 'AUS', 'UAE', 'NED', 'ENG', 'ZIM', 'PNG', 'SA', 'IND', 'IND', 'ZIM', 'NAM', 'ZIM', 'USA', 'SA', 'AUS', 'BAN', 'ENG', 'NAM', 'SCO', 'SCO', 'IND', 'SL', 'PAK', 'ENG', 'AFG', 'PAK', 'OMA', 'AUS', 'AUS', 'NAM', 'NED']

In [37]:
scraped_rating=list(soup.find("div",class_="rankings-block__banner--rating"))
scraped_ratings2=list(soup.find_all("td",class_="table-body__cell rating"))
final_scraped_ratings=scraped_rating+scraped_ratings2

In [38]:
ratings=[]
for i in final_scraped_ratings:
    ratings.append(i.get_text().replace("\n"," ").strip(" "))
print(ratings)

['729', '727', '708', '665', '659', '655', '652', '641', '638', '637', '631', '631', '624', '622', '615', '613', '609', '607', '594', '594', '594', '580', '573', '571', '569', '552', '549', '543', '537', '535', '533', '532', '532', '530', '527', '522', '520', '518', '514', '514', '511', '510', '510', '506', '498', '497', '483', '478', '478', '476', '474', '474', '470', '469', '469', '464', '462', '460', '460', '456', '455', '452', '449', '448', '441', '439', '436', '435', '434', '434', '434', '433', '431', '426', '426', '425', '422', '420', '420', '418', '417', '416', '416', '416', '415', '413', '409', '409', '409', '407', '407', '403', '402', '400', '400', '398', '397', '396', '395', '394']

In [40]:
print(len(names),len(teams),len(ratings))

100 100 100

In [41]:
df=pd.DataFrame()
df['PLAYER']=names
df['TEAMS']=teams
df['RATINGS']=ratings
df.head(10)

              PLAYER TEAMS RATINGS
0     Mohammed Siraj   IND     729
1     Josh Hazlewood   AUS     727
2        Trent Boult    NZ     708
3     Mitchell Starc   AUS     665
4        Rashid Khan   AFG     659
5         Adam Zampa   AUS     655
6    Shakib Al Hasan   BAN     652
7     Shaheen Afridi   PAK     641
8  Mustafizur Rahman   BAN     638
9   Mujeeb Ur Rahman   AFG     637