In [ ]:
!pip install selenium #installing selenium

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [7]:
driver=webdriver.Chrome(r"chromedriver.exe") #getting the automated driver

# Scraping data analyst from naukri.com TOP 10

In [8]:
driver.get("https://www.naukri.com/") #fetching the desired page

In [9]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input") #searching for the data analyst designation
designation.send_keys("Data Analyst")   #Transferred to chrome browser

In [11]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input") #searching for desired location
location.send_keys("Bangalore")   #Transferred to chrome browser

In [12]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")  #Commanding for clicking on search
search.click()

In [20]:
job_titles=[]      #creating empty list for the scraping
job_locations=[]
company_names=[]
experience_required=[]

In [21]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")   #Scraping the titles
for i in title_tags[0:10]:     #scraping first 10 titles
    title=i.text               #scraping the text only
    job_titles.append(title)   #appending the data in empty list

In [27]:
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")  #Scraping the location
for i in loc_tags[0:10]:         #scraping first 10 locations
    loc=i.text                   #scraping only text
    job_locations.append(loc)    #appending data in empty list

In [23]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")  #Scraping company name
for i in company_tags[0:10]:    #scraping first 10 company names
    comp=i.text                 #scraping the text only
    company_names.append(comp)  #appending the company names in the empty list

In [24]:
exp_tags=driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft expwdth']")   #scraping the required experience
for i in exp_tags[0:10]:  #scraping the first 10 exp
    exp=i.text          #scraping only text
    experience_required.append(exp)  #appending the scraped_data in the empty list

In [28]:
print(len(job_titles),len(job_locations),len(company_names),len(experience_required))  #checking if the len of all the scraped_data are same or not

10 10 10 10

In [29]:
df=pd.DataFrame({"Title":job_titles,"Location":job_locations,"Company":company_names,"Experience":experience_required})
df    #creating and displaying the final dataframe

,Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
3,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
4,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,2-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Quess It Staffing,2-5 Yrs
6,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack Consulting,2-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
8,Data Analyst,Bangalore/Bengaluru,Qualitest,5-8 Yrs
9,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack Consulting,2-7 Yrs

In [ ]:
driver.close()

# Scraping "Data Scientist" for "Bangalore"

In [47]:
driver=webdriver.Chrome(r"chromedriver.exe")   #opening the automated chrome

In [48]:
driver.get("https://www.naukri.com/")         #getting the desired site

In [49]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")                           #searching for data scientist

In [50]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")        #searching for location Bangalore

In [51]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()                     #Clicking on search button

In [52]:
job_title=[]
job_location=[]                       #Creating empty lists for desired data
company_name=[]

In [53]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")         #scraping the job title using for loop
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [54]:
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")     #scraping the location using for loop
for i in loc_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [55]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")  #scraping company
for i in company_tags[0:10]:
    comp=i.text
    company_name.append(comp)

In [56]:
print(len(job_title),len(job_location),len(company_name)) #checking if the len of all the fields are same or not

10 10 10

In [57]:
df=pd.DataFrame()
df['Title']=job_title            #Finally creating the dataframe with the desired Columns
df['Location']=job_location
df['Company']=company_name
df

,Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
5,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
6,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
7,Senior Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
8,Senior Director/Head - Data Science & Analytics,"Bangalore/Bengaluru, Pune, Chennai",Vertex Corporate
9,Data Scientist Staff,Bangalore/Bengaluru,Juniper Networks

# Scraping Data Using the Available Filters

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
driver.maximize_window()

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
filter_location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[3]")
filter_location.click()

In [7]:
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]")
salary_filter.click()

In [21]:
job_titles=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)

In [18]:
location=[]
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in loc_tags[0:10]:
    loca=i.text
    location.append(loca)

In [23]:
company=[]
comp_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in comp_tags[0:10]:
    comp=i.text
    company.append(comp)

In [24]:
experience=[]
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in exp_tags[0:10]:
    exp=i.text
    experience.append(exp)

In [26]:
print(len(job_titles),len(location),len(company),len(experience))

10 10 10 10

In [27]:
df=pd.DataFrame()
df["JOB_TITLE"]=job_titles
df["LOCATION"]=location
df["COMPANY"]=company
df["REQUIRED_EXPERIENCE"]=experience
df

,JOB_TITLE,LOCATION,COMPANY,REQUIRED_EXPERIENCE
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",Torcai Digital Media,2-7 Yrs

In [ ]:
driver.close()

#  Scraping sunglasses listing from FLIPKART

In [17]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [18]:
driver.maximize_window()

In [19]:
driver.get("https://www.flipkart.com/")

In [20]:
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys("Sunglasses")

In [21]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [31]:
Brandss=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_tags[0:100]:
        brand=i.text
        Brandss.append(brand)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [34]:
Price=[]
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price_tags[0:100]:
        price=i.text
        Price.append(price)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [32]:
Productss=[]
start=0
end=3
for page in range(start,end):
    product_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in product_tags[0:100]:
        product=i.text
        Productss.append(product)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [35]:
len(Productss), len(Brandss), len(Price)

(120, 120, 120)

In [36]:
df=pd.DataFrame({"Brand":Brandss,"Product_Description":Productss,"Price":Price})
df.head()

            Brand                                Product_Description Price
0      EYELLUSION    UV Protection Clubmaster Sunglasses (Free Size)  ₹299
1   VINCENT CHASE  UV Protection, Gradient Rectangular Sunglasses...  ₹799
2          PIRASO             UV Protection Wayfarer Sunglasses (53)  ₹211
3  ROZZETTA CRAFT  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹449
4        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799

#  Scrap Reviews from flipkart for iphone11

In [62]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [64]:
driver.maximize_window()

In [67]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone11+black+64gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=8b363653-87c4-40ab-b3c3-f57154bcfa7d.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=mguwcrg9mo0000001676357529342&qH=519494574047a897")

In [76]:
Rtings=[]
start=1
end=4
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tags[0:100]:
        rating=i.text
        Rtings.append(rating)
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
    next_button.click()
    time.sleep(3)

In [79]:
Review=[]
start=1
end=4
for page in range(start,end):
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in review_tags[0:100]:
        review=i.text
        Review.append(review)
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
    next_button.click()
    time.sleep(3)

In [81]:
Full_Review=[]
start=1
end=4
for page in range(start,end):
    full_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in full_tags[0:100]:
        tags=i.text
        Full_Review.append(tags)
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
    next_button.click()
    time.sleep(3)

In [83]:
df=pd.DataFrame()
df['Ratings']=Rtings
df['Review_Summary']=Review
df['Full Review']=Full_Review
df.head()

  Ratings    Review_Summary                                        Full Review
0       5     Great product  Seller - SuperComNet ( my trust in you has gro...
1       5         Must buy!  Don’t expect much from front camera… especiall...
2       5         Fabulous!  iPhone is delivered on time. Display is great ...
3       5    Classy product  Here is the thing\n\nThe only reason why you s...
4       4  Perfect product!  It is better to buy iPhone 11 over iPhone 12 i...

#  Scraping data of sneakers from FLIPKART

In [11]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [87]:
driver=webdriver.Chrome(r"chromedrive.exe")

In [88]:
driver.get("https://www.flipkart.com")

In [89]:
driver.maximize_window()

In [90]:
sneakers=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
sneakers.send_keys("sneakers")

In [91]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [92]:
Brand=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_tags[0:100]:
        brand=i.text
        Brand.append(brand)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [97]:
price=[]
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price_tags[0:100]:
        prc=i.text
        price.append(prc)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [106]:
Prodct=[]
start=0
end=3
for page in range(start,end):
    prdct_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in prdct_tags[0:100]:
        prdct=i.text
        Prodct.append(prdct)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [114]:
len(Prodct),len(Brand), len(price)

(119, 119, 119)

In [116]:
df=pd.DataFrame()
df['BRAND']=Brand
df['PRODUCT_DESCRIPTION']=Prodct
df['PRICE']=price
final_df=df.head(100)
final_df.head()

   BRAND                                PRODUCT_DESCRIPTION   PRICE
0   aadi                                 Sneakers For Women    ₹499
1   aadi  Combo Pack of 2 Premium Sports Shoes Sneakers ...    ₹389
2    SFR               Puma x 1DER Jack V3 Sneakers For Men    ₹499
3  BIRDE                              CR-1 Sneakers For Men    ₹399
4  BIRDE  Trendy Casual Shoe For Men Pack Of 2 Sneakers ...  ₹1,652

#  Scraping laptop data from AMAZON

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.amazon.com/")

In [5]:
driver.maximize_window()

In [6]:
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [11]:
check_box=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[6]/span/div/div/ul/li[2]/span/a/div")
check_box.click()

In [13]:
title=[]
title_tags=driver.find_elements(By.XPATH,"//div[@class='a-section a-spacing-none puis-padding-right-small s-title-instructions-style']")
for i in title_tags[0:10]:
    titles=i.text
    title.append(titles)

In [14]:
ratings=[]
rating_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)

In [15]:
price=[]
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    prices=i.text
    price.append(prices)

In [16]:
print(len(title),len(ratings),len(price))

10 10 10

In [17]:
df=pd.DataFrame()
df["Title"]=title
df['Rating']=ratings
df["Price"]=price
df.head()

                                               Title Rating  Price
0  SAMSUNG 13.3” Galaxy Book2 Pro Laptop Computer...    4.4    999
1  OEM Lenovo ThinkPad E15 Gen 2 15.6" FHD Displa...    4.3  1,259
2  OEM Lenovo ThinkPad E14 Gen 2 14" FHD Display ...    4.1  1,199
3  SAMSUNG 15.6” Galaxy Book2 Pro with Intel ARC ...    4.1  1,699
4  Lenovo ThinkPad X1 Yoga Gen 6 Intel Core i7-11...    4.5  1,129

In [ ]:
driver.close()

#  Scraping top quotes

In [2]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.azquotes.com/")

In [5]:
driver.maximize_window()

In [6]:
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [9]:
driver.refresh()

In [15]:
Authorss=[]
start=0
end=5
for page in range(start,end):
    author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
    for i in author_tags:
        author=i.text
        Authorss.append(author)
    next_button=driver.find_element(By.XPATH,"//li[@class='next']")
    next_button.click()
    time.sleep(3)

In [7]:
Quotes=[]
start=0
end=5
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quote_tags:
        quote=i.text
        Quotes.append(quote)
    next_button=driver.find_element(By.XPATH,"//li[@class='next']")
    next_button.click()
    time.sleep(3)

In [22]:
driver.refresh()

In [23]:
Type_of_quotes=[]
start=0
end=5
for page in range(start,end):
    type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
    for i in type_tags:
        typee=i.text
        Type_of_quotes.append(typee)
    next_button=driver.find_element(By.XPATH,"//li[@class='next']")
    next_button.click()
    time.sleep(3)

In [24]:
df=pd.DataFrame({"Quotes":Quotes,"Authors":Authorss,"Type":Type_of_quotes})
df.head()

,Quotes,Authors,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Inspirational, Life, Positive"
1,One cannot and must not try to erase the past ...,Golda Meir,"Leadership, God, Wisdom"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Happiness, Success, Happy"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Positive, Success"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"Christmas, Holiday, Giving"

In [25]:
driver.close()

#  Scraping details of former Prime Ministers of India

In [1]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
driver.get("https://www.jagranjosh.com/")

In [5]:
opening_GK=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
opening_GK.click()

In [6]:
PM_list=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
PM_list.click()

In [7]:
PM_names=[]
name_tags=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[2]/p")
for i in name_tags:
    name=i.text
    PM_names.append(name)

In [14]:
Terms_office=[]
term_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]/p[1]")
for i in term_tags:
    term=i.text
    Terms_office.append(term)

In [16]:
driver.close()

# Most Expensive Cars in the world

In [17]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [18]:
driver.maximize_window()

In [19]:
driver.get("https://www.motor1.com")

In [20]:
features=driver.find_element(By.XPATH,"//div[@class='m1-hamburger-button']")
features.click()

In [21]:
dropdown=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
dropdown.click()

In [22]:
lists=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
lists.click()

In [23]:
open_list=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
open_list.click()

In [24]:
Names=[]
name_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name_tags:
    name=i.text
    Names.append(name)

In [25]:
Prices=[]
price_tags=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong")
for i in price_tags:
    details=i.text
    Prices.append(details)

In [26]:
Prices

['Price: $1.3 Million']