In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [7]:
driver.maximize_window()

In [6]:
driver.minimize_window()

In [8]:
driver.get("https://www.motor1.com/")

In [11]:
explore=driver.find_element(By.XPATH,"//div[@class='box-item-left']")
explore.click()

In [12]:
drop_down=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
drop_down.click()

In [13]:
lists=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
lists.click()

In [15]:
expensive_cars=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
expensive_cars.click()

In [27]:
Names=[]
name_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name_tags[0:50]:
    name=i.text
    Names.append(name)

In [32]:
Prices=[]
price_tags=driver.find_elements(By.XPATH,"//strong")
for i in price_tags[0:50]:
    prc=i.text
    Prices.append(prc)

In [33]:
print(len(Prices),len(Names))

50 50

In [35]:
df=pd.DataFrame()
df['Names']=Names
df["Price"]=Prices
df.head(10)

                Names                Price
0       De Tomaso P72  Price: $1.3 Million
1   Ferrari LaFerrari  Price: $1.4 Million
2       Pagani Huayra  Price: $1.4 Million
3        McLaren Elva
4         Czinger 21C  Price: $1.7 Million
5       Ferrari Monza  Price: $1.7 Million
6  Gordon Murray T.33  Price: $1.7 Million
7   Koenigsegg Gemera  Price: $1.7 Million
8         Zenvo TSR-S  Price: $1.7 Million
9  Hennessey Venom F5  Price: $1.7 Million

In [36]:
driver.close()