In [64]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [65]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [66]:
page=requests.get(url)
page.status_code

200

In [ ]:
soup=BeautifulSoup(page.content, "html.parser")
print(soup.prettify())

In [69]:
scraped_teams1=list(soup.find("div",class_="rankings-block__banner--name"))
scraped_teams2=list(soup.find_all("td",class_="table-body__cell name"))
final_scraped_team=scraped_teams1+scraped_teams2

team=[]
for i in final_scraped_team:
    team.append(i.get_text().replace("\n"," ").strip(" "))
print(team)

['Alyssa Healy', 'Beth Mooney', 'Laura Wolvaardt', 'Natalie Sciver', 'Meg Lanning', 'Harmanpreet Kaur', 'Smriti Mandhana', 'Rachael Haynes', 'Chamari Athapaththu', 'Amy Satterthwaite', 'Jess Jonassen', 'Shabnim Ismail', 'Megan Schutt', 'Jhulan Goswami', 'Hayley Matthews', 'Kate Cross', 'Ayabonga Khaka', 'Rajeshwari Gayakwad', 'Marizanne Kapp', 'Natalie Sciver', 'Ellyse Perry', 'Marizanne Kapp', 'Amelia Kerr', 'Deepti Sharma', 'Ashleigh Gardner', 'Jess Jonassen', 'Nida Dar', 'Jhulan Goswami']

In [ ]:
scraped_points2=list(soup.find_all("td",class_="table-body__cell u-text-right rating"))
print(scraped_points)

In [73]:
scraped_points1

['762']

In [ ]:
final_scraped_rating=scraped_points1+scraped_points2
print(final_scraped_rating)

In [59]:
rating=[]
for i in final_scraped_rating:
    rating.append(i.get_text().replace("\n"," ").strip(" "))
print(rating)

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641', '723', '722', '704', '698', '660', '655', '634', '617', '598', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [63]:
df=pd.DataFrame()
df['Player_Name']=team
df['Rating']=rating
df.head()

       Player_Name Rating
0     Alyssa Healy    762
1      Beth Mooney    754
2  Laura Wolvaardt    732
3   Natalie Sciver    731
4      Meg Lanning    717

In [61]:
final_df=df.head(10)
final_df

           Player_Name Rating
0         Alyssa Healy    762
1          Beth Mooney    754
2      Laura Wolvaardt    732
3       Natalie Sciver    731
4          Meg Lanning    717
5     Harmanpreet Kaur    716
6      Smriti Mandhana    714
7       Rachael Haynes    680
8  Chamari Athapaththu    655
9    Amy Satterthwaite    641