In [1]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [2]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

In [3]:
page=requests.get(url)
page.status_code

200

In [ ]:
soup=BeautifulSoup(page.content, "html.parser")
print(soup.prettify())

In [7]:
scraped_name1=list(soup.find("div",class_="rankings-block__banner--name-large"))
scraped_name2=list(soup.find_all("td",class_="table-body__cell rankings-table__name name"))
final_scraped_names=scraped_name1+scraped_name2

name=[]
for i in final_scraped_names:
    name.append(i.get_text().replace("\n"," ").strip(" "))
print(name)

['Hayley Matthews', 'Natalie Sciver', 'Ellyse Perry', 'Marizanne Kapp', 'Amelia Kerr', 'Deepti Sharma', 'Ashleigh Gardner', 'Jess Jonassen', 'Nida Dar', 'Jhulan Goswami', 'Sophie Ecclestone', 'Sophie Devine', 'Chloe-Lesleigh Tryon', 'Katherine Brunt', 'Rumana Ahmed', 'Stafanie Taylor', 'Chamari Athapaththu', 'Charlotte Dean', 'Sune Luus', 'Salma Khatun']

In [38]:
scraped_team2=list(soup.find_all("span",class_="table-body__logo-text"))
scraped_team2

team=[]
for i in scraped_team2:
    team.append(i.get_text().replace("\n"," ").strip(" "))
print(team)

['ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND', 'ENG', 'NZ', 'SA', 'ENG', 'BAN', 'WI', 'SL', 'ENG', 'SA', 'BAN']

In [32]:
scraped_rating1=list(soup.find("div",class_="rankings-block__banner--rating"))
scraped_rating2=list(soup.find_all("td",class_="table-body__cell rating"))
final_scraped_rating=scraped_rating1+scraped_rating2

rating=[]
for i in final_scraped_rating:
    rating.append(i.get_text().replace("\n"," ").strip(" "))
print(rating)

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214', '205', '202', '197', '195', '184', '181', '178', '174', '171', '169']

In [34]:
df=pd.DataFrame()
df["Names"]=name
df["Rating"]=rating
df.head(3)

             Names Rating
0  Hayley Matthews    373
1   Natalie Sciver    371
2     Ellyse Perry    366

In [35]:
final_df=df.head(10)
final_df

              Names Rating
0   Hayley Matthews    373
1    Natalie Sciver    371
2      Ellyse Perry    366
3    Marizanne Kapp    349
4       Amelia Kerr    336
5     Deepti Sharma    322
6  Ashleigh Gardner    292
7     Jess Jonassen    250
8          Nida Dar    232
9    Jhulan Goswami    214